<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Editar banco de dados</title>
</head>
<body>
    <h2>Editar registros de clientes</h2>
    <% data.forEach(function(details) { %>
        <form action="/edit/<%= details._id %>" method="POST">
            <input type="text" value="<%= details.meta%>" name="meta">
            <input type="date" value="<%= details.competencia%>" name="competencia">
            <input type="text" value="<%= details.empresa%>" name="empresa">
            <input type="number" value="<%= details.ie%>" name="ie">
            <input type="number" value="<%= details.cnpj%>" name="cnpj">
            <br>
            <button><a href="/show">Todos</a></button>
            <button type="submit">Editar</button>
        </form>
    <% }) %>
</body>
</html>