<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="cep=edge">
    <meta name="vcepwport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/show.css">
    <title>Tabela de dados</title>
</head>
<body>
    <table border="1" class="tabela-clientes">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>CEP</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details.nome %></td>
                    <td><%= details.email %></td>
                    <td><%= details.telefone %></td>
                    <td><%= details.cep %></td>
                    <td><%= details.endereco %></td>
                    <td><%= details.bairro %></td>
                    <td><%= details.cidade %></td>
                    <td><%= details.estado %></td>
                    <td><a href="/edit/<%= details._id %>">Editar</a> - <a href="/delete/<%= details._id %>">Deletar</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <button><a href="/">Voltar</a></button>
</body>
</html>